In [1]:
import pandas as pd
import numpy as np

In [12]:
df = pd.read_csv('../data/slice_data.csv')

In [13]:
df

,날짜,번호판,일일주행거리,누적주행거리,정보발생일시,차량속도,RPM,브레이크,GPS_X,GPS_Y,방위각,가속도_X,가속도_Y
0,20221201,부산70자1854,0,66443,22120105071500,0,193,0,129.158670,35.236021,0,-6.3,0.7
1,20221201,부산70자1854,0,66443,22120105071600,0,388,0,129.158670,35.236021,0,-7.9,1.6
2,20221201,부산70자1854,0,66443,22120105071700,0,777,0,129.158670,35.236021,0,-8.9,2.2
3,20221201,부산70자1854,0,66443,22120105071800,0,638,0,129.158670,35.236021,0,-6.6,0.8
4,20221201,부산70자1854,0,66443,22120105071900,0,461,0,129.158670,35.236021,0,-7.1,0.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5948207,20221231,부산70자1894,176,3095705,22123121033800,0,331,0,129.158597,35.235956,66,-5.7,-1.2
5948208,20221231,부산70자1894,176,3095705,22123121033900,0,59,0,129.158597,35.235956,66,-5.8,-1.4
5948209,20221231,부산70자1894,176,3095705,22123121034000,0,0,0,129.158597,35.235956,66,-5.4,-1.0
5948210,20221231,부산70자1894,176,3095705,22123121034100,0,0,0,129.158597,35.235956,66,-5.4,-0.9
5948211,20221231,부산70자1894,176,3095705,22123121034200,0,0,0,129.158597,35.235956,66,-5.3,-0.9

In [17]:

l1 = []
l2 = []
l3 = []
l4 = []

for i in df.index:
    if i == 0:
        l1.append(0)
        l2.append(0)
        l3.append(0)
        l4.append(0)
        continue

    # 급가속
    if 6 <= df['차량속도'][i] <= 10 and df['차량속도'][i] - df['차량속도'][i - 1] >= 8:
        l1.append(1)
    elif 10 < df['차량속도'][i] <= 20 and df['차량속도'][i] - df['차량속도'][i - 1] >= 7:
        l1.append(1)
    elif 20 < df['차량속도'][i] and df['차량속도'][i] - df['차량속도'][i - 1] >= 6:
        l1.append(1)
    else:
        l1.append(0)

    # 급출발
    if 5 >= df['차량속도'][i - 1] and df['차량속도'][i] - df['차량속도'][i - 1] >= 8:
        l2.append(1)
    else:
        l2.append(0)

    # 급감속
    if 30 >= df['차량속도'][i] and df['차량속도'][i - 1] - df['차량속도'][i] >= 9 and df['차량속도'][i] >= 6 and df['브레이크'][i] == 1:
        l3.append(1)
    elif 50 >= df['차량속도'][i] and df['차량속도'][i - 1] - df['차량속도'][i] >= 10 and df['차량속도'][i] >= 6 and df['브레이크'][i] == 1:
        l3.append(1)
    elif 50 < df['차량속도'][i] and df['차량속도'][i - 1] - df['차량속도'][i] >= 12 and df['차량속도'][i] >= 6 and df['브레이크'][i] == 1:
        l3.append(1)
    else:
        l3.append(0)

    # 급정지
    if df['차량속도'][i - 1] - df['차량속도'][i] >= 9 and df['차량속도'][i] <= 5 and df['브레이크'][i] == 1:
        l4.append(1)
    else:
        l4.append(0)

In [18]:
df['급가속'] = l1
df['급출발'] = l2
df['급감속'] = l3
df['급정지'] = l4
df

,날짜,번호판,일일주행거리,누적주행거리,정보발생일시,차량속도,RPM,브레이크,GPS_X,GPS_Y,방위각,가속도_X,가속도_Y,급가속,급출발,급감속,급정지
0,20221201,부산70자1854,0,66443,22120105071500,0,193,0,129.158670,35.236021,0,-6.3,0.7,0,0,0,0
1,20221201,부산70자1854,0,66443,22120105071600,0,388,0,129.158670,35.236021,0,-7.9,1.6,0,0,0,0
2,20221201,부산70자1854,0,66443,22120105071700,0,777,0,129.158670,35.236021,0,-8.9,2.2,0,0,0,0
3,20221201,부산70자1854,0,66443,22120105071800,0,638,0,129.158670,35.236021,0,-6.6,0.8,0,0,0,0
4,20221201,부산70자1854,0,66443,22120105071900,0,461,0,129.158670,35.236021,0,-7.1,0.8,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5948207,20221231,부산70자1894,176,3095705,22123121033800,0,331,0,129.158597,35.235956,66,-5.7,-1.2,0,0,0,0
5948208,20221231,부산70자1894,176,3095705,22123121033900,0,59,0,129.158597,35.235956,66,-5.8,-1.4,0,0,0,0
5948209,20221231,부산70자1894,176,3095705,22123121034000,0,0,0,129.158597,35.235956,66,-5.4,-1.0,0,0,0,0
5948210,20221231,부산70자1894,176,3095705,22123121034100,0,0,0,129.158597,35.235956,66,-5.4,-0.9,0,0,0,0
5948211,20221231,부산70자1894,176,3095705,22123121034200,0,0,0,129.158597,35.235956,66,-5.3,-0.9,0,0,0,0

In [21]:
print(df['급가속'].sum())
print(df['급출발'].sum())
print(df['급감속'].sum())
print(df['급정지'].sum())

30334
10462
9784
8776

In [27]:
df.to_csv('../data/total_count.csv', index=False)

In [34]:
df[['급가속', '급출발', '급감속', '급정지']].describe()

                급가속           급출발           급감속           급정지
count  5.948212e+06  5.948212e+06  5.948212e+06  5.948212e+06
mean   5.099684e-03  1.758848e-03  1.644864e-03  1.475401e-03
std    7.122975e-02  4.190173e-02  4.052356e-02  3.838261e-02
min    0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
25%    0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
50%    0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
75%    0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
max    1.000000e+00  1.000000e+00  1.000000e+00  1.000000e+00

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5948212 entries, 0 to 5948211
Data columns (total 17 columns):
 #   Column  Dtype
---  ------  -----
 0   날짜      int64
 1   번호판     object
 2   일일주행거리  int64
 3   누적주행거리  int64
 4   정보발생일시  int64
 5   차량속도    int64
 6   RPM     int64
 7   브레이크    int64
 8   GPS_X   float64
 9   GPS_Y   float64
 10  방위각     int64
 11  가속도_X   float64
 12  가속도_Y   float64
 13  급가속     int64
 14  급출발     int64
 15  급감속     int64
 16  급정지     int64
dtypes: float64(4), int64(12), object(1)
memory usage: 771.5+ MB

In [31]:
df.summary()

AttributeError: 'DataFrame' object has no attribute 'summary'