In [1]:
import pandas as pd

In [55]:
df = pd.read_csv('../data/total_count.csv')

In [3]:
df

,날짜,번호판,일일주행거리,누적주행거리,정보발생일시,차량속도,RPM,브레이크,GPS_X,GPS_Y,방위각,가속도_X,가속도_Y,급가속,급출발,급감속,급정지
0,20221201,부산70자1854,0,66443,22120105071500,0,193,0,129.158670,35.236021,0,-6.3,0.7,0,0,0,0
1,20221201,부산70자1854,0,66443,22120105071600,0,388,0,129.158670,35.236021,0,-7.9,1.6,0,0,0,0
2,20221201,부산70자1854,0,66443,22120105071700,0,777,0,129.158670,35.236021,0,-8.9,2.2,0,0,0,0
3,20221201,부산70자1854,0,66443,22120105071800,0,638,0,129.158670,35.236021,0,-6.6,0.8,0,0,0,0
4,20221201,부산70자1854,0,66443,22120105071900,0,461,0,129.158670,35.236021,0,-7.1,0.8,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5948207,20221231,부산70자1894,176,3095705,22123121033800,0,331,0,129.158597,35.235956,66,-5.7,-1.2,0,0,0,0
5948208,20221231,부산70자1894,176,3095705,22123121033900,0,59,0,129.158597,35.235956,66,-5.8,-1.4,0,0,0,0
5948209,20221231,부산70자1894,176,3095705,22123121034000,0,0,0,129.158597,35.235956,66,-5.4,-1.0,0,0,0,0
5948210,20221231,부산70자1894,176,3095705,22123121034100,0,0,0,129.158597,35.235956,66,-5.4,-0.9,0,0,0,0
5948211,20221231,부산70자1894,176,3095705,22123121034200,0,0,0,129.158597,35.235956,66,-5.3,-0.9,0,0,0,0

In [4]:
df['시각'] = df['정보발생일시'].apply(lambda x: str(x)[6:8])

In [5]:
l1 = []

for i in df.index:
    if i == 0:
        l1.append(0)
        continue

    l1.append(df['차량속도'][i] - df['차량속도'][i - 1])

In [6]:
df['가속도'] = l1

In [7]:
df

,날짜,번호판,일일주행거리,누적주행거리,정보발생일시,차량속도,RPM,브레이크,GPS_X,GPS_Y,방위각,가속도_X,가속도_Y,급가속,급출발,급감속,급정지,시각,가속도
0,20221201,부산70자1854,0,66443,22120105071500,0,193,0,129.158670,35.236021,0,-6.3,0.7,0,0,0,0,05,0
1,20221201,부산70자1854,0,66443,22120105071600,0,388,0,129.158670,35.236021,0,-7.9,1.6,0,0,0,0,05,0
2,20221201,부산70자1854,0,66443,22120105071700,0,777,0,129.158670,35.236021,0,-8.9,2.2,0,0,0,0,05,0
3,20221201,부산70자1854,0,66443,22120105071800,0,638,0,129.158670,35.236021,0,-6.6,0.8,0,0,0,0,05,0
4,20221201,부산70자1854,0,66443,22120105071900,0,461,0,129.158670,35.236021,0,-7.1,0.8,0,0,0,0,05,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5948207,20221231,부산70자1894,176,3095705,22123121033800,0,331,0,129.158597,35.235956,66,-5.7,-1.2,0,0,0,0,21,0
5948208,20221231,부산70자1894,176,3095705,22123121033900,0,59,0,129.158597,35.235956,66,-5.8,-1.4,0,0,0,0,21,0
5948209,20221231,부산70자1894,176,3095705,22123121034000,0,0,0,129.158597,35.235956,66,-5.4,-1.0,0,0,0,0,21,0
5948210,20221231,부산70자1894,176,3095705,22123121034100,0,0,0,129.158597,35.235956,66,-5.4,-0.9,0,0,0,0,21,0
5948211,20221231,부산70자1894,176,3095705,22123121034200,0,0,0,129.158597,35.235956,66,-5.3,-0.9,0,0,0,0,21,0

In [9]:
df.drop(['일일주행거리', '누적주행거리', '정보발생일시'], axis=1)

,날짜,번호판,차량속도,RPM,브레이크,GPS_X,GPS_Y,방위각,가속도_X,가속도_Y,급가속,급출발,급감속,급정지,시각,가속도
0,20221201,부산70자1854,0,193,0,129.158670,35.236021,0,-6.3,0.7,0,0,0,0,05,0
1,20221201,부산70자1854,0,388,0,129.158670,35.236021,0,-7.9,1.6,0,0,0,0,05,0
2,20221201,부산70자1854,0,777,0,129.158670,35.236021,0,-8.9,2.2,0,0,0,0,05,0
3,20221201,부산70자1854,0,638,0,129.158670,35.236021,0,-6.6,0.8,0,0,0,0,05,0
4,20221201,부산70자1854,0,461,0,129.158670,35.236021,0,-7.1,0.8,0,0,0,0,05,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5948207,20221231,부산70자1894,0,331,0,129.158597,35.235956,66,-5.7,-1.2,0,0,0,0,21,0
5948208,20221231,부산70자1894,0,59,0,129.158597,35.235956,66,-5.8,-1.4,0,0,0,0,21,0
5948209,20221231,부산70자1894,0,0,0,129.158597,35.235956,66,-5.4,-1.0,0,0,0,0,21,0
5948210,20221231,부산70자1894,0,0,0,129.158597,35.235956,66,-5.4,-0.9,0,0,0,0,21,0
5948211,20221231,부산70자1894,0,0,0,129.158597,35.235956,66,-5.3,-0.9,0,0,0,0,21,0

In [57]:
l = []

for i in df.index:
    if i == 0:
        l.append(0)
        continue


    # 급출발
    if 5 >= df['차량속도'][i - 1] and df['차량속도'][i] - df['차량속도'][i - 1] >= 8:
        l.append(2)

    # 급가속
    elif 6 <= df['차량속도'][i] <= 10 and df['차량속도'][i] - df['차량속도'][i - 1] >= 8:
        l.append(1)
    elif 10 < df['차량속도'][i] <= 20 and df['차량속도'][i] - df['차량속도'][i - 1] >= 7:
        l.append(1)
    elif 20 < df['차량속도'][i] and df['차량속도'][i] - df['차량속도'][i - 1] >= 6:
        l.append(1)

     # 급정지
    elif df['차량속도'][i - 1] - df['차량속도'][i] >= 9 and df['차량속도'][i] <= 5 and df['브레이크'][i] == 1:
        l.append(4)

    # 급감속
    elif 30 >= df['차량속도'][i] and df['차량속도'][i - 1] - df['차량속도'][i] >= 9 and df['차량속도'][i] >= 6 and df['브레이크'][i] == 1:
        l.append(3)
    elif 50 >= df['차량속도'][i] and df['차량속도'][i - 1] - df['차량속도'][i] >= 10 and df['차량속도'][i] >= 6 and df['브레이크'][i] == 1:
        l.append(3)
    elif 50 < df['차량속도'][i] and df['차량속도'][i - 1] - df['차량속도'][i] >= 12 and df['차량속도'][i] >= 6 and df['브레이크'][i] == 1:
        l.append(3)



    # 정상주행
    else:
        l.append(0)

In [16]:
df['위험운전분류'] = l

In [17]:
df['차량속도분류'] = df['차량속도'].apply(lambda x: x // 10)

In [18]:
df['RPM분류'] = df['RPM'].apply(lambda x: x // 500)

In [19]:
df

,날짜,번호판,일일주행거리,누적주행거리,정보발생일시,차량속도,RPM,브레이크,GPS_X,GPS_Y,...,가속도_Y,급가속,급출발,급감속,급정지,시각,가속도,위험운전분류,차량속도분류,RPM분류
0,20221201,부산70자1854,0,66443,22120105071500,0,193,0,129.158670,35.236021,...,0.7,0,0,0,0,05,0,0,0,0
1,20221201,부산70자1854,0,66443,22120105071600,0,388,0,129.158670,35.236021,...,1.6,0,0,0,0,05,0,0,0,0
2,20221201,부산70자1854,0,66443,22120105071700,0,777,0,129.158670,35.236021,...,2.2,0,0,0,0,05,0,0,0,1
3,20221201,부산70자1854,0,66443,22120105071800,0,638,0,129.158670,35.236021,...,0.8,0,0,0,0,05,0,0,0,1
4,20221201,부산70자1854,0,66443,22120105071900,0,461,0,129.158670,35.236021,...,0.8,0,0,0,0,05,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5948207,20221231,부산70자1894,176,3095705,22123121033800,0,331,0,129.158597,35.235956,...,-1.2,0,0,0,0,21,0,0,0,0
5948208,20221231,부산70자1894,176,3095705,22123121033900,0,59,0,129.158597,35.235956,...,-1.4,0,0,0,0,21,0,0,0,0
5948209,20221231,부산70자1894,176,3095705,22123121034000,0,0,0,129.158597,35.235956,...,-1.0,0,0,0,0,21,0,0,0,0
5948210,20221231,부산70자1894,176,3095705,22123121034100,0,0,0,129.158597,35.235956,...,-0.9,0,0,0,0,21,0,0,0,0
5948211,20221231,부산70자1894,176,3095705,22123121034200,0,0,0,129.158597,35.235956,...,-0.9,0,0,0,0,21,0,0,0,0

In [20]:
df['가속도'].max()

60

In [21]:
df['가속도분류'] = df['가속도'].apply(lambda x: x // 10)

In [22]:
df

,날짜,번호판,일일주행거리,누적주행거리,정보발생일시,차량속도,RPM,브레이크,GPS_X,GPS_Y,...,급가속,급출발,급감속,급정지,시각,가속도,위험운전분류,차량속도분류,RPM분류,가속도분류
0,20221201,부산70자1854,0,66443,22120105071500,0,193,0,129.158670,35.236021,...,0,0,0,0,05,0,0,0,0,0
1,20221201,부산70자1854,0,66443,22120105071600,0,388,0,129.158670,35.236021,...,0,0,0,0,05,0,0,0,0,0
2,20221201,부산70자1854,0,66443,22120105071700,0,777,0,129.158670,35.236021,...,0,0,0,0,05,0,0,0,1,0
3,20221201,부산70자1854,0,66443,22120105071800,0,638,0,129.158670,35.236021,...,0,0,0,0,05,0,0,0,1,0
4,20221201,부산70자1854,0,66443,22120105071900,0,461,0,129.158670,35.236021,...,0,0,0,0,05,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5948207,20221231,부산70자1894,176,3095705,22123121033800,0,331,0,129.158597,35.235956,...,0,0,0,0,21,0,0,0,0,0
5948208,20221231,부산70자1894,176,3095705,22123121033900,0,59,0,129.158597,35.235956,...,0,0,0,0,21,0,0,0,0,0
5948209,20221231,부산70자1894,176,3095705,22123121034000,0,0,0,129.158597,35.235956,...,0,0,0,0,21,0,0,0,0,0
5948210,20221231,부산70자1894,176,3095705,22123121034100,0,0,0,129.158597,35.235956,...,0,0,0,0,21,0,0,0,0,0
5948211,20221231,부산70자1894,176,3095705,22123121034200,0,0,0,129.158597,35.235956,...,0,0,0,0,21,0,0,0,0,0

In [24]:
df.drop(['급가속', '급출발', '급감속', '급정지', '가속도_X', '가속도_Y', '누적주행거리', '정보발생일시'], axis=1)

,날짜,번호판,일일주행거리,차량속도,RPM,브레이크,GPS_X,GPS_Y,방위각,시각,가속도,위험운전분류,차량속도분류,RPM분류,가속도분류
0,20221201,부산70자1854,0,0,193,0,129.158670,35.236021,0,05,0,0,0,0,0
1,20221201,부산70자1854,0,0,388,0,129.158670,35.236021,0,05,0,0,0,0,0
2,20221201,부산70자1854,0,0,777,0,129.158670,35.236021,0,05,0,0,0,1,0
3,20221201,부산70자1854,0,0,638,0,129.158670,35.236021,0,05,0,0,0,1,0
4,20221201,부산70자1854,0,0,461,0,129.158670,35.236021,0,05,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5948207,20221231,부산70자1894,176,0,331,0,129.158597,35.235956,66,21,0,0,0,0,0
5948208,20221231,부산70자1894,176,0,59,0,129.158597,35.235956,66,21,0,0,0,0,0
5948209,20221231,부산70자1894,176,0,0,0,129.158597,35.235956,66,21,0,0,0,0,0
5948210,20221231,부산70자1894,176,0,0,0,129.158597,35.235956,66,21,0,0,0,0,0
5948211,20221231,부산70자1894,176,0,0,0,129.158597,35.235956,66,21,0,0,0,0,0

In [25]:
df['일일주행거리'].max()

221

In [26]:
df['일일주행거리분류'] = df['일일주행거리'].apply(lambda x: x // 20)

In [27]:
df['방위각분류'] = df['방위각'].apply(lambda x: x // 10)

In [28]:
df['GPS_X분류'] = df['GPS_X'].apply(lambda x : str(x)[:-3])
df['GPS_Y분류'] = df['GPS_Y'].apply(lambda x : str(x)[:-3])

In [29]:
df

,날짜,번호판,일일주행거리,누적주행거리,정보발생일시,차량속도,RPM,브레이크,GPS_X,GPS_Y,...,시각,가속도,위험운전분류,차량속도분류,RPM분류,가속도분류,일일주행거리분류,방위각분류,GPS_X분류,GPS_Y분류
0,20221201,부산70자1854,0,66443,22120105071500,0,193,0,129.158670,35.236021,...,05,0,0,0,0,0,0,0,129.15,35.236
1,20221201,부산70자1854,0,66443,22120105071600,0,388,0,129.158670,35.236021,...,05,0,0,0,0,0,0,0,129.15,35.236
2,20221201,부산70자1854,0,66443,22120105071700,0,777,0,129.158670,35.236021,...,05,0,0,0,1,0,0,0,129.15,35.236
3,20221201,부산70자1854,0,66443,22120105071800,0,638,0,129.158670,35.236021,...,05,0,0,0,1,0,0,0,129.15,35.236
4,20221201,부산70자1854,0,66443,22120105071900,0,461,0,129.158670,35.236021,...,05,0,0,0,0,0,0,0,129.15,35.236
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5948207,20221231,부산70자1894,176,3095705,22123121033800,0,331,0,129.158597,35.235956,...,21,0,0,0,0,0,8,6,129.158,35.235
5948208,20221231,부산70자1894,176,3095705,22123121033900,0,59,0,129.158597,35.235956,...,21,0,0,0,0,0,8,6,129.158,35.235
5948209,20221231,부산70자1894,176,3095705,22123121034000,0,0,0,129.158597,35.235956,...,21,0,0,0,0,0,8,6,129.158,35.235
5948210,20221231,부산70자1894,176,3095705,22123121034100,0,0,0,129.158597,35.235956,...,21,0,0,0,0,0,8,6,129.158,35.235
5948211,20221231,부산70자1894,176,3095705,22123121034200,0,0,0,129.158597,35.235956,...,21,0,0,0,0,0,8,6,129.158,35.235

In [30]:
df = df.drop(['급가속', '급출발', '급감속', '급정지', '가속도_X', '가속도_Y', '누적주행거리', '정보발생일시'], axis=1)
df

,날짜,번호판,일일주행거리,차량속도,RPM,브레이크,GPS_X,GPS_Y,방위각,시각,가속도,위험운전분류,차량속도분류,RPM분류,가속도분류,일일주행거리분류,방위각분류,GPS_X분류,GPS_Y분류
0,20221201,부산70자1854,0,0,193,0,129.158670,35.236021,0,05,0,0,0,0,0,0,0,129.15,35.236
1,20221201,부산70자1854,0,0,388,0,129.158670,35.236021,0,05,0,0,0,0,0,0,0,129.15,35.236
2,20221201,부산70자1854,0,0,777,0,129.158670,35.236021,0,05,0,0,0,1,0,0,0,129.15,35.236
3,20221201,부산70자1854,0,0,638,0,129.158670,35.236021,0,05,0,0,0,1,0,0,0,129.15,35.236
4,20221201,부산70자1854,0,0,461,0,129.158670,35.236021,0,05,0,0,0,0,0,0,0,129.15,35.236
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5948207,20221231,부산70자1894,176,0,331,0,129.158597,35.235956,66,21,0,0,0,0,0,8,6,129.158,35.235
5948208,20221231,부산70자1894,176,0,59,0,129.158597,35.235956,66,21,0,0,0,0,0,8,6,129.158,35.235
5948209,20221231,부산70자1894,176,0,0,0,129.158597,35.235956,66,21,0,0,0,0,0,8,6,129.158,35.235
5948210,20221231,부산70자1894,176,0,0,0,129.158597,35.235956,66,21,0,0,0,0,0,8,6,129.158,35.235
5948211,20221231,부산70자1894,176,0,0,0,129.158597,35.235956,66,21,0,0,0,0,0,8,6,129.158,35.235

In [32]:
df = df.drop(['GPS_X', 'GPS_Y'], axis=1)
df

,날짜,번호판,일일주행거리,차량속도,RPM,브레이크,방위각,시각,가속도,위험운전분류,차량속도분류,RPM분류,가속도분류,일일주행거리분류,방위각분류,GPS_X분류,GPS_Y분류
0,20221201,부산70자1854,0,0,193,0,0,05,0,0,0,0,0,0,0,129.15,35.236
1,20221201,부산70자1854,0,0,388,0,0,05,0,0,0,0,0,0,0,129.15,35.236
2,20221201,부산70자1854,0,0,777,0,0,05,0,0,0,1,0,0,0,129.15,35.236
3,20221201,부산70자1854,0,0,638,0,0,05,0,0,0,1,0,0,0,129.15,35.236
4,20221201,부산70자1854,0,0,461,0,0,05,0,0,0,0,0,0,0,129.15,35.236
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5948207,20221231,부산70자1894,176,0,331,0,66,21,0,0,0,0,0,8,6,129.158,35.235
5948208,20221231,부산70자1894,176,0,59,0,66,21,0,0,0,0,0,8,6,129.158,35.235
5948209,20221231,부산70자1894,176,0,0,0,66,21,0,0,0,0,0,8,6,129.158,35.235
5948210,20221231,부산70자1894,176,0,0,0,66,21,0,0,0,0,0,8,6,129.158,35.235
5948211,20221231,부산70자1894,176,0,0,0,66,21,0,0,0,0,0,8,6,129.158,35.235

In [34]:
df = df.drop(['일일주행거리', '차량속도', 'RPM', '방위각', '가속도'], axis=1)
df

,날짜,번호판,브레이크,시각,위험운전분류,차량속도분류,RPM분류,가속도분류,일일주행거리분류,방위각분류,GPS_X분류,GPS_Y분류
0,20221201,부산70자1854,0,05,0,0,0,0,0,0,129.15,35.236
1,20221201,부산70자1854,0,05,0,0,0,0,0,0,129.15,35.236
2,20221201,부산70자1854,0,05,0,0,1,0,0,0,129.15,35.236
3,20221201,부산70자1854,0,05,0,0,1,0,0,0,129.15,35.236
4,20221201,부산70자1854,0,05,0,0,0,0,0,0,129.15,35.236
...,...,...,...,...,...,...,...,...,...,...,...,...
5948207,20221231,부산70자1894,0,21,0,0,0,0,8,6,129.158,35.235
5948208,20221231,부산70자1894,0,21,0,0,0,0,8,6,129.158,35.235
5948209,20221231,부산70자1894,0,21,0,0,0,0,8,6,129.158,35.235
5948210,20221231,부산70자1894,0,21,0,0,0,0,8,6,129.158,35.235
5948211,20221231,부산70자1894,0,21,0,0,0,0,8,6,129.158,35.235

In [35]:
df.to_csv('../data/분류전처리.csv', index=False)

In [58]:
df = pd.read_csv('../data/분류전처리.csv')
df

,날짜,번호판,브레이크,시각,위험운전분류,차량속도분류,RPM분류,가속도분류,일일주행거리분류,방위각분류,GPS_X분류,GPS_Y분류
0,20221201,부산70자1854,0,5,0,0,0,0,0,0,129.150,35.236
1,20221201,부산70자1854,0,5,0,0,0,0,0,0,129.150,35.236
2,20221201,부산70자1854,0,5,0,0,1,0,0,0,129.150,35.236
3,20221201,부산70자1854,0,5,0,0,1,0,0,0,129.150,35.236
4,20221201,부산70자1854,0,5,0,0,0,0,0,0,129.150,35.236
...,...,...,...,...,...,...,...,...,...,...,...,...
5948207,20221231,부산70자1894,0,21,0,0,0,0,8,6,129.158,35.235
5948208,20221231,부산70자1894,0,21,0,0,0,0,8,6,129.158,35.235
5948209,20221231,부산70자1894,0,21,0,0,0,0,8,6,129.158,35.235
5948210,20221231,부산70자1894,0,21,0,0,0,0,8,6,129.158,35.235
5948211,20221231,부산70자1894,0,21,0,0,0,0,8,6,129.158,35.235

In [59]:
df['위험운전분류'] = l
df

,날짜,번호판,브레이크,시각,위험운전분류,차량속도분류,RPM분류,가속도분류,일일주행거리분류,방위각분류,GPS_X분류,GPS_Y분류
0,20221201,부산70자1854,0,5,0,0,0,0,0,0,129.150,35.236
1,20221201,부산70자1854,0,5,0,0,0,0,0,0,129.150,35.236
2,20221201,부산70자1854,0,5,0,0,1,0,0,0,129.150,35.236
3,20221201,부산70자1854,0,5,0,0,1,0,0,0,129.150,35.236
4,20221201,부산70자1854,0,5,0,0,0,0,0,0,129.150,35.236
...,...,...,...,...,...,...,...,...,...,...,...,...
5948207,20221231,부산70자1894,0,21,0,0,0,0,8,6,129.158,35.235
5948208,20221231,부산70자1894,0,21,0,0,0,0,8,6,129.158,35.235
5948209,20221231,부산70자1894,0,21,0,0,0,0,8,6,129.158,35.235
5948210,20221231,부산70자1894,0,21,0,0,0,0,8,6,129.158,35.235
5948211,20221231,부산70자1894,0,21,0,0,0,0,8,6,129.158,35.235

In [64]:
df.query('위험운전분류 == 0').count()

날짜          5899318
번호판         5899318
브레이크        5899318
시각          5899318
위험운전분류      5899318
차량속도분류      5899318
RPM분류       5899318
가속도분류       5899318
일일주행거리분류    5899318
방위각분류       5899318
GPS_X분류     5897906
GPS_Y분류     5897906
dtype: int64

In [72]:
temp = pd.read_csv('../data/total_count.csv')

In [82]:
df['GPS_X분류'] = temp['GPS_X'].apply(lambda x : float(str(x)[:6]))
df['GPS_Y분류'] = temp['GPS_Y'].apply(lambda x : float(str(x)[:5]))

In [91]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5948212 entries, 0 to 5948211
Data columns (total 12 columns):
 #   Column    Dtype
---  ------    -----
 0   날짜        int64
 1   번호판       object
 2   브레이크      int64
 3   시각        int64
 4   위험운전분류    int64
 5   차량속도분류    int64
 6   RPM분류     int64
 7   가속도분류     int64
 8   일일주행거리분류  int64
 9   방위각분류     int64
 10  GPS_X분류   float64
 11  GPS_Y분류   float64
dtypes: float64(2), int64(9), object(1)
memory usage: 544.6+ MB

In [93]:
df.to_csv('../data/분류전처리.csv', index=False)

In [49]:
import optuna
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.linear_model import LinearRegression, Ridge, Lasso, ElasticNet
from sklearn.ensemble import GradientBoostingRegressor, RandomForestRegressor
from sklearn.metrics import r2_score
from sklearn.pipeline import Pipeline
from xgboost import XGBClassifier

In [51]:
import pandas as pd
import numpy as np

from sklearn.metrics import accuracy_score
from sklearn.ensemble import GradientBoostingClassifier

from sklearn.model_selection import GridSearchCV
from sklearn.metrics import make_scorer

from xgboost import XGBClassifier
from xgboost import plot_importance

import matplotlib.pyplot as plt
import seaborn as sns

In [89]:
import warnings
warnings.filterwarnings("ignore")

In [84]:
X = df[['브레이크', '시각', '차량속도분류', 'RPM분류', '가속도분류', '일일주행거리분류', '방위각분류', 'GPS_X분류', 'GPS_Y분류']]
y = df['위험운전분류']

In [85]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, shuffle=True, test_size=0.3)

In [86]:
model = XGBClassifier()

In [87]:
both_scoring = {'AUC': 'roc_auc', 'Accuracy': make_scorer(accuracy_score), 'Loss': 'neg_log_loss'}
params = {'n_estimators': [100, 200, 500, 1000, 1500],
          'learning_rate': [0.05, 0.1, 0.2],
          'max_depth': [3, 4, 5]}

In [ ]:
clf = GridSearchCV(model, params, cv=5, scoring=both_scoring, refit='AUC', return_train_score=True)
clf.fit(X_train[['브레이크', '시각', '차량속도분류', 'RPM분류', '가속도분류', '일일주행거리분류', '방위각분류', 'GPS_X분류', 'GPS_Y분류']], y_train)

In [ ]:
print((clf.best_score_, clf.best_params_))
print('=' * 30)
print('Grid scores on training data: ')
means = clf.cv_results_['mean_test_AUC']
stds = clf.cv_results_['std_test_AUC']
log_losses = clf.cv_results_['std_test_Loss']

for mean, std, log_loss, params in zip(means, stds, log_losses, clf.cv_results_['params']):
    print(f'AUC Score: {mean} (+/-{std * 2}; Log Loss: {log_loss} for {params}')