In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('../data/slice_data_1854.csv')

In [2]:
lst1 = []
year = []
month = []
day = []
hour = []
minute = []
lst2 = []
lst3 = []
lst4 = []
for i in df.index:
    s = df['정보발생일시'][i]
    s = str(s)
    if s[-4:] == '0000':
        lst1.append(s)
        year.append(s[:2])
        month.append(s[2:4])
        day.append(s[4:6])
        hour.append(s[6:8])
        minute.append(s[8:10])
        lst2.append(df['차량속도'][i])
        lst3.append(df['GPS_X'][i])
        lst4.append(df['GPS_Y'][i])

temp_df = pd.DataFrame({'정보발생일시': lst1, '년': year, '월': month, '일': day, '시': hour, '분': minute, '차량속도': lst2, 'GPS_X': lst3, 'GPS_Y': lst4})
temp_df.to_csv('../data/extract_minute.csv', index=False)

In [3]:
df = pd.read_csv('../data/extract_minute.csv')

In [4]:
df

             정보발생일시   년   월  일   시   분  차량속도      GPS_X     GPS_Y
0    22120105080000  22  12  1   5   8     0  129158670  35236021
1    22120105090000  22  12  1   5   9     0  129158670  35236021
2    22120105100000  22  12  1   5  10     0  129158625  35235989
3    22120105110000  22  12  1   5  11     0  129158625  35235989
4    22120105120000  22  12  1   5  12     0  129158625  35235989
..              ...  ..  .. ..  ..  ..   ...        ...       ...
393  22120117300000  22  12  1  17  30     0  129158511  35236275
394  22120117310000  22  12  1  17  31     0  129158511  35236275
395  22120117320000  22  12  1  17  32     0  129158511  35236275
396  22120117330000  22  12  1  17  33     1  129158408  35236046
397  22120117510000  22  12  1  17  51     0  129158370  35235965

[398 rows x 9 columns]

In [5]:
gps_x = np.array(df['GPS_X']) / 1000000
gps_y = np.array(df['GPS_Y']) / 1000000
gps_x = gps_x.tolist()
gps_y = gps_y.tolist()
df['gps_x'] = gps_x
df['gps_y'] = gps_y
del df['GPS_X']
del df['GPS_Y']

In [6]:
group_hour = df.groupby('시')
group_hour

In [8]:
group_hour.mean()

          정보발생일시     년     월    일          분       차량속도       gps_x      gps_y
시
5   2.212011e+13  22.0  12.0  1.0  33.500000  14.019231  129.138909  35.199676
6   2.212011e+13  22.0  12.0  1.0  29.500000  12.600000  129.171295  35.168278
7   2.212011e+13  22.0  12.0  1.0  28.000000  12.666667  129.138117  35.206066
8   2.212011e+13  22.0  12.0  1.0   5.000000   9.000000  129.158473  35.236166
9   2.212011e+13  22.0  12.0  1.0  58.000000   0.000000  129.158528  35.236211
10  2.212011e+13  22.0  12.0  1.0  14.000000  25.827586  129.184779  35.244849
11  2.212011e+13  22.0  12.0  1.0  52.500000   3.500000  129.158681  35.236114
12  2.212011e+13  22.0  12.0  1.0  31.000000  10.877193  129.138147  35.204770
13  2.212011e+13  22.0  12.0  1.0  29.500000  12.550000  129.169633  35.167089
14  2.212011e+13  22.0  12.0  1.0  29.500000  14.766667  129.145950  35.182955
15  2.212012e+13  22.0  12.0  1.0   5.000000   9.636364  129.149672  35.228324
17  2.212012e+13  22.0  12.0  1.0  34.333333   0.166667  129.158470  35.236185

In [19]:
velocity = df.groupby('시', as_index=False).agg({"시": "first", "년": "first", "월": "first", "일": "first", "차량속도": "mean"})

In [20]:
velocity.to_csv('../data/hour_mean_velocity.csv', index=False)