In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('../data/slice_data_1854.csv')

In [3]:
df

,날짜,번호판,일일주행거리,누적주행거리,정보발생일시,차량속도,RPM,브레이크,GPS_X,GPS_Y,방위각,가속도_X,가속도_Y
0,20221201,부산70자1854,0,66443,22120105071500,0,193,0,129158670,35236021,0,-6.3,0.7
1,20221201,부산70자1854,0,66443,22120105071600,0,388,0,129158670,35236021,0,-7.9,1.6
2,20221201,부산70자1854,0,66443,22120105071700,0,777,0,129158670,35236021,0,-8.9,2.2
3,20221201,부산70자1854,0,66443,22120105071800,0,638,0,129158670,35236021,0,-6.6,0.8
4,20221201,부산70자1854,0,66443,22120105071900,0,461,0,129158670,35236021,0,-7.1,0.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...
23941,20221201,부산70자1854,100,66544,22120117510100,0,559,1,129158370,35235965,331,-6.6,0.9
23942,20221201,부산70자1854,100,66544,22120117510200,0,533,1,129158370,35235965,331,-7.2,1.1
23943,20221201,부산70자1854,100,66544,22120117510300,0,141,1,129158370,35235965,331,-7.0,1.8
23944,20221201,부산70자1854,100,66544,22120117510400,0,20,1,129158370,35235965,331,-6.2,0.8
23945,20221201,부산70자1854,100,66544,22120117510500,0,20,1,129158370,35235965,331,-6.1,0.7

In [4]:
df['GPS_X'] /= 1000000
df['GPS_Y'] /= 1000000

In [5]:
df

,날짜,번호판,일일주행거리,누적주행거리,정보발생일시,차량속도,RPM,브레이크,GPS_X,GPS_Y,방위각,가속도_X,가속도_Y
0,20221201,부산70자1854,0,66443,22120105071500,0,193,0,129.15867,35.236021,0,-6.3,0.7
1,20221201,부산70자1854,0,66443,22120105071600,0,388,0,129.15867,35.236021,0,-7.9,1.6
2,20221201,부산70자1854,0,66443,22120105071700,0,777,0,129.15867,35.236021,0,-8.9,2.2
3,20221201,부산70자1854,0,66443,22120105071800,0,638,0,129.15867,35.236021,0,-6.6,0.8
4,20221201,부산70자1854,0,66443,22120105071900,0,461,0,129.15867,35.236021,0,-7.1,0.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...
23941,20221201,부산70자1854,100,66544,22120117510100,0,559,1,129.15837,35.235965,331,-6.6,0.9
23942,20221201,부산70자1854,100,66544,22120117510200,0,533,1,129.15837,35.235965,331,-7.2,1.1
23943,20221201,부산70자1854,100,66544,22120117510300,0,141,1,129.15837,35.235965,331,-7.0,1.8
23944,20221201,부산70자1854,100,66544,22120117510400,0,20,1,129.15837,35.235965,331,-6.2,0.8
23945,20221201,부산70자1854,100,66544,22120117510500,0,20,1,129.15837,35.235965,331,-6.1,0.7

In [14]:
lst = [0] * 4
for i in df.index:
    if i == 0:
        continue

    # 급가속
    if 6 <= df['차량속도'][i] <= 10 and df['가속도_X'][i] - df['가속도_X'][i - 1] >= 2.2:
        lst[0] += 1
    elif 10 < df['차량속도'][i] <= 20 and df['가속도_X'][i] - df['가속도_X'][i - 1] >= 1.9:
        lst[0] += 1
    elif 20 < df['차량속도'][i] and df['가속도_X'][i] - df['가속도_X'][i - 1] >= 1.6:
        lst[0] += 1

    # 급출발
    if 5 >= df['차량속도'][i] and df['가속도_X'][i] - df['가속도_X'][i - 1] >= 2.2:
        lst[1] += 1

    # 급감속
    if 30 >= df['차량속도'][i] and df['가속도_X'][i] - df['가속도_X'][i - 1] < -2.5 and df['차량속도'][i] >= 6 and df['브레이크'][i] == 1:
        lst[2] += 1
    elif 50 >= df['차량속도'][i] and df['가속도_X'][i] - df['가속도_X'][i - 1] < -2.8 and df['차량속도'][i] >= 6 and df['브레이크'][i] == 1:
        lst[2] += 1
    elif 50 < df['차량속도'][i] and df['가속도_X'][i] - df['가속도_X'][i - 1] < -3.3 and df['차량속도'][i] >= 6 and df['브레이크'][i] == 1:
        lst[2] += 1

    # 급정지
    if df['가속도_X'][i] - df['가속도_X'][i - 1] < -2.5 and df['차량속도'][i] <= 5 and df['브레이크'][i] == 1:
        lst[3] += 1

print(lst)

[665, 22, 47, 12]

In [77]:
df = pd.read_csv('../data/slice_data.csv')

In [78]:
df = df.query('번호판 == "부산70자1854"')

In [79]:
df

,날짜,번호판,일일주행거리,누적주행거리,정보발생일시,차량속도,RPM,브레이크,GPS_X,GPS_Y,방위각,가속도_X,가속도_Y
0,20221201,부산70자1854,0,66443,22120105071500,0,193,0,129158670,35236021,0,-6.3,0.7
1,20221201,부산70자1854,0,66443,22120105071600,0,388,0,129158670,35236021,0,-7.9,1.6
2,20221201,부산70자1854,0,66443,22120105071700,0,777,0,129158670,35236021,0,-8.9,2.2
3,20221201,부산70자1854,0,66443,22120105071800,0,638,0,129158670,35236021,0,-6.6,0.8
4,20221201,부산70자1854,0,66443,22120105071900,0,461,0,129158670,35236021,0,-7.1,0.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1436754,20221231,부산70자1854,44,72362,22123122521400,0,557,1,129158370,35235809,249,-6.7,0.5
1436755,20221231,부산70자1854,44,72362,22123122521500,0,223,1,129158370,35235809,249,-6.8,0.8
1436756,20221231,부산70자1854,44,72362,22123122521600,0,37,1,129158370,35235809,249,-6.8,0.7
1436757,20221231,부산70자1854,44,72362,22123122521700,0,22,1,129158370,35235809,249,-6.2,0.3
1436758,20221231,부산70자1854,44,72362,22123122521800,0,0,0,129158370,35235809,249,-6.0,0.2

In [80]:
day = df['날짜'].drop_duplicates()
day

0          20221201
23946      20221202
77395      20221203
129068     20221204
131446     20221205
186254     20221206
231181     20221207
284862     20221208
330226     20221209
387633     20221210
432019     20221211
484318     20221212
539097     20221213
593870     20221214
648683     20221215
687682     20221216
711382     20221217
757745     20221218
810848     20221219
857718     20221220
913214     20221221
958292     20221222
1015732    20221223
1070715    20221224
1124613    20221225
1177135    20221226
1222731    20221227
1277242    20221228
1323255    20221229
1378054    20221230
1422817    20221231
Name: 날짜, dtype: int64

In [81]:
type(day[0])

numpy.int64

In [82]:
d = []
l0 = []
l1 = []
l2 = []
l3 = []
tempday = 20221201
count1 = 0
count2 = 0
count3 = 0
count4 = 0
for i in df.index:
    if i == 0:
        continue

    # 급가속
    if 6 <= df['차량속도'][i] <= 10 and df['차량속도'][i] - df['차량속도'][i - 1] >= 8:
        count1 += 1
    elif 10 < df['차량속도'][i] <= 20 and df['차량속도'][i] - df['차량속도'][i - 1] >= 7:
        count1 += 1
    elif 20 < df['차량속도'][i] and df['차량속도'][i] - df['차량속도'][i - 1] >= 6:
        count1 += 1

    # 급출발
    if 5 >= df['차량속도'][i - 1] and df['차량속도'][i] - df['차량속도'][i - 1] >= 8:
        count2 += 1

    # 급감속
    if 30 >= df['차량속도'][i] and df['차량속도'][i - 1] - df['차량속도'][i] >= 9 and df['차량속도'][i] >= 6 and df['브레이크'][i] == 1:
        count3 += 1
    elif 50 >= df['차량속도'][i] and df['차량속도'][i - 1] - df['차량속도'][i] >= 10 and df['차량속도'][i] >= 6 and df['브레이크'][i] == 1:
        count3 += 1
    elif 50 < df['차량속도'][i] and df['차량속도'][i - 1] - df['차량속도'][i] >= 12 and df['차량속도'][i] >= 6 and df['브레이크'][i] == 1:
        count3 += 1

    # 급정지
    if df['차량속도'][i - 1] - df['차량속도'][i] >= 9 and df['차량속도'][i] <= 5 and df['브레이크'][i] == 1:
        count4 += 1


    if tempday != df['날짜'][i]:
        l0.append(count1)
        l1.append(count2)
        l2.append(count3)
        l3.append(count4)
        count1 = 0
        count2 = 0
        count3 = 0
        count4 = 0
        tempday = df['날짜'][i]

l0.append(count1)
l1.append(count2)
l2.append(count3)
l3.append(count4)

temp = pd.DataFrame({'날짜': day, '급가속': l0, '급출발': l1, '급감속': l2, '급정지': l3})
temp

               날짜  급가속  급출발  급감속  급정지
0        20221201   19    1   10    5
23946    20221202   57    1   85   34
77395    20221203   31    2   51   27
129068   20221204    0    0    0    0
131446   20221205   37    3   19   11
186254   20221206   16    4   17    6
231181   20221207   28    3   15   10
284862   20221208   16    1   36   14
330226   20221209   62   12  115   57
387633   20221210   29    4   22    8
432019   20221211   43    5   67   21
484318   20221212   42    1   32   19
539097   20221213   33    3    2    2
593870   20221214   80    5   90   26
648683   20221215   38    0   20   10
687682   20221216   17    1   13    9
711382   20221217   32    3   37   13
757745   20221218   68   10   25   15
810848   20221219   54    8   28   10
857718   20221220   71    6   40   15
913214   20221221   45    1   18    8
958292   20221222  170   17   60   30
1015732  20221223   65    9   45   14
1070715  20221224   51    5    9    9
1124613  20221225   52    4   26    7
1177135  20221226   49    8   28   11
1222731  20221227   52    1   60   26
1277242  20221228   52    8   33   14
1323255  20221229   80    5   54   23
1378054  20221230   79    3   32   14
1422817  20221231   15    1    3    2

In [83]:
temp.to_csv('../data/count_abnormal.csv', index=False)

In [69]:
df = pd.read_csv('../data/slice_data_1854.csv')

In [70]:
df['GPS_X'] /= 1000000
df['GPS_Y'] /= 1000000

In [75]:


l1 = []
l2 = []
l3 = []
l4 = []

for i in df.index:
    if i == 0:
        l1.append(0)
        l2.append(0)
        l3.append(0)
        l4.append(0)
        continue

    # 급가속
    if 6 <= df['차량속도'][i] <= 10 and df['차량속도'][i] - df['차량속도'][i - 1] >= 8:
        l1.append(1)
    elif 10 < df['차량속도'][i] <= 20 and df['차량속도'][i] - df['차량속도'][i - 1] >= 7:
        l1.append(1)
    elif 20 < df['차량속도'][i] and df['차량속도'][i] - df['차량속도'][i - 1] >= 6:
        l1.append(1)
    else:
        l1.append(0)

    # 급출발
    if 5 >= df['차량속도'][i - 1] and df['차량속도'][i] - df['차량속도'][i - 1] >= 8:
        l2.append(1)
    else:
        l2.append(0)

    # 급감속
    if 30 >= df['차량속도'][i] and df['차량속도'][i - 1] - df['차량속도'][i] >= 9 and df['차량속도'][i] >= 6 and df['브레이크'][i] == 1:
        l3.append(1)
    elif 50 >= df['차량속도'][i] and df['차량속도'][i - 1] - df['차량속도'][i] >= 10 and df['차량속도'][i] >= 6 and df['브레이크'][i] == 1:
        l3.append(1)
    elif 50 < df['차량속도'][i] and df['차량속도'][i - 1] - df['차량속도'][i] >=12 and df['차량속도'][i] >= 6 and df['브레이크'][i] == 1:
        l3.append(1)
    else:
        l3.append(0)

    # 급정지
    if df['차량속도'][i - 1] - df['차량속도'][i] >= 9 and df['차량속도'][i] <= 5 and df['브레이크'][i] == 1:
        l4.append(1)
    else:
        l4.append(0)


temp = pd.DataFrame({'GPS_X': df['GPS_X'], 'GPS_Y': df['GPS_Y'], '급가속': l1, '급출발': l2, '급감속': l3, '급정지': l4})
temp

           GPS_X      GPS_Y  급가속  급출발  급감속  급정지
0      129.15867  35.236021    0    0    0    0
1      129.15867  35.236021    0    0    0    0
2      129.15867  35.236021    0    0    0    0
3      129.15867  35.236021    0    0    0    0
4      129.15867  35.236021    0    0    0    0
...          ...        ...  ...  ...  ...  ...
23941  129.15837  35.235965    0    0    0    0
23942  129.15837  35.235965    0    0    0    0
23943  129.15837  35.235965    0    0    0    0
23944  129.15837  35.235965    0    0    0    0
23945  129.15837  35.235965    0    0    0    0

[23946 rows x 6 columns]

In [76]:
print(temp['급가속'].sum())
print(temp['급출발'].sum())
print(temp['급감속'].sum())
print(temp['급정지'].sum())

19
1
10
5

In [54]:
temp.to_json('../data/위험운전행동_GPS.json')

In [56]:
temp['차량속도'] = df['차량속도']
temp['RPM'] = df['RPM']
temp['브레이크'] = df['브레이크']
temp['가속도_X'] = df['가속도_X']
temp['가속도_Y'] = df['가속도_Y']
temp

           GPS_X      GPS_Y  급가속  급출발  급감속  급정지  차량속도  RPM  브레이크  가속도_X  가속도_Y
0      129.15867  35.236021    0    0    0    0     0  193     0   -6.3    0.7
1      129.15867  35.236021    0    0    0    0     0  388     0   -7.9    1.6
2      129.15867  35.236021    0    0    0    0     0  777     0   -8.9    2.2
3      129.15867  35.236021    0    1    0    0     0  638     0   -6.6    0.8
4      129.15867  35.236021    0    0    0    0     0  461     0   -7.1    0.8
...          ...        ...  ...  ...  ...  ...   ...  ...   ...    ...    ...
23941  129.15837  35.235965    0    0    0    0     0  559     1   -6.6    0.9
23942  129.15837  35.235965    0    0    0    0     0  533     1   -7.2    1.1
23943  129.15837  35.235965    0    0    0    0     0  141     1   -7.0    1.8
23944  129.15837  35.235965    0    0    0    0     0   20     1   -6.2    0.8
23945  129.15837  35.235965    0    0    0    0     0   20     1   -6.1    0.7

[23946 rows x 11 columns]

In [58]:
temp.to_csv('../data/temp.csv', index=False)