In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/0524_to_db.csv')

In [3]:
df

,차량속도,RPM,GPS_X,GPS_Y,년,월,일,시,시분초,가속도,급가속,급출발,급감속,급정지,차량번호
0,0,193,129.158670,35.236021,22,12,1,5,05:07:15,0,0,0,0,0,부산70자1854
1,0,388,129.158670,35.236021,22,12,1,5,05:07:16,0,0,0,0,0,부산70자1854
2,0,777,129.158670,35.236021,22,12,1,5,05:07:17,0,0,0,0,0,부산70자1854
3,0,638,129.158670,35.236021,22,12,1,5,05:07:18,0,0,0,0,0,부산70자1854
4,0,461,129.158670,35.236021,22,12,1,5,05:07:19,0,0,0,0,0,부산70자1854
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5948207,0,331,129.158597,35.235956,22,12,31,21,21:03:38,0,0,0,0,0,부산70자1894
5948208,0,59,129.158597,35.235956,22,12,31,21,21:03:39,0,0,0,0,0,부산70자1894
5948209,0,0,129.158597,35.235956,22,12,31,21,21:03:40,0,0,0,0,0,부산70자1894
5948210,0,0,129.158597,35.235956,22,12,31,21,21:03:41,0,0,0,0,0,부산70자1894
5948211,0,0,129.158597,35.235956,22,12,31,21,21:03:42,0,0,0,0,0,부산70자1894

In [4]:
df = df.query('차량번호 != "부산70자1893"')
len(df)

4462387

In [5]:
df['가속도max'] = df['차량속도'].apply(lambda x: -3.007e-10 * x ** 5 + 1.08775e-7 * x ** 4 + -1.46299e-5 * x ** 3 + 0.001332283 * x ** 2 -0.126973836 * x + 9.212774118)
df['가속도min'] = df['차량속도'].apply(lambda x: 1.0479e-10 * x ** 5 + -4.93699e-08 * x ** 4 + 7.45908e-06 * x ** 3 + -0.000180393 * x ** 2 - 0.05416834 * x + 6.010221586)
df

C:\Users\admin\AppData\Local\Temp\ipykernel_10748\718734539.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['가속도max'] = df['차량속도'].apply(lambda x: -3.007e-10 * x ** 5 + 1.08775e-7 * x ** 4 + -1.46299e-5 * x ** 3 + 0.001332283 * x ** 2 -0.126973836 * x + 9.212774118)
C:\Users\admin\AppData\Local\Temp\ipykernel_10748\718734539.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['가속도min'] = df['차량속도'].apply(lambda x: 1.0479e-10 * x ** 5 + -4.93699e-08 * x ** 4 + 7.45908e-06 * x ** 3 + -0.000180393 * x ** 2 - 0.05416834 * x + 6.010221586)

,차량속도,RPM,GPS_X,GPS_Y,년,월,일,시,시분초,가속도,급가속,급출발,급감속,급정지,차량번호,가속도max,가속도min
0,0,193,129.158670,35.236021,22,12,1,5,05:07:15,0,0,0,0,0,부산70자1854,9.212774,6.010222
1,0,388,129.158670,35.236021,22,12,1,5,05:07:16,0,0,0,0,0,부산70자1854,9.212774,6.010222
2,0,777,129.158670,35.236021,22,12,1,5,05:07:17,0,0,0,0,0,부산70자1854,9.212774,6.010222
3,0,638,129.158670,35.236021,22,12,1,5,05:07:18,0,0,0,0,0,부산70자1854,9.212774,6.010222
4,0,461,129.158670,35.236021,22,12,1,5,05:07:19,0,0,0,0,0,부산70자1854,9.212774,6.010222
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5948207,0,331,129.158597,35.235956,22,12,31,21,21:03:38,0,0,0,0,0,부산70자1894,9.212774,6.010222
5948208,0,59,129.158597,35.235956,22,12,31,21,21:03:39,0,0,0,0,0,부산70자1894,9.212774,6.010222
5948209,0,0,129.158597,35.235956,22,12,31,21,21:03:40,0,0,0,0,0,부산70자1894,9.212774,6.010222
5948210,0,0,129.158597,35.235956,22,12,31,21,21:03:41,0,0,0,0,0,부산70자1894,9.212774,6.010222
5948211,0,0,129.158597,35.235956,22,12,31,21,21:03:42,0,0,0,0,0,부산70자1894,9.212774,6.010222

In [6]:
df['가속도max2'] = df['가속도max'] * 2 - df['가속도min']

C:\Users\admin\AppData\Local\Temp\ipykernel_10748\1307707304.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['가속도max2'] = df['가속도max'] * 2 - df['가속도min']

In [7]:
label = []
for i in df.index:
    if df['가속도'][i] < df['가속도min'][i]:
        label.append(0)
    elif df['가속도min'][i] <= df['가속도'][i] < df['가속도max'][i]:
        label.append(1)
    elif df['가속도max'][i] <= df['가속도'][i] < df['가속도max2'][i]:
        label.append(2)
    else:
        label.append(3)

In [8]:
df['위험운전가속'] = label
df

C:\Users\admin\AppData\Local\Temp\ipykernel_10748\1509753873.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['위험운전가속'] = label

,차량속도,RPM,GPS_X,GPS_Y,년,월,일,시,시분초,가속도,급가속,급출발,급감속,급정지,차량번호,가속도max,가속도min,가속도max2,위험운전가속
0,0,193,129.158670,35.236021,22,12,1,5,05:07:15,0,0,0,0,0,부산70자1854,9.212774,6.010222,12.415327,0
1,0,388,129.158670,35.236021,22,12,1,5,05:07:16,0,0,0,0,0,부산70자1854,9.212774,6.010222,12.415327,0
2,0,777,129.158670,35.236021,22,12,1,5,05:07:17,0,0,0,0,0,부산70자1854,9.212774,6.010222,12.415327,0
3,0,638,129.158670,35.236021,22,12,1,5,05:07:18,0,0,0,0,0,부산70자1854,9.212774,6.010222,12.415327,0
4,0,461,129.158670,35.236021,22,12,1,5,05:07:19,0,0,0,0,0,부산70자1854,9.212774,6.010222,12.415327,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5948207,0,331,129.158597,35.235956,22,12,31,21,21:03:38,0,0,0,0,0,부산70자1894,9.212774,6.010222,12.415327,0
5948208,0,59,129.158597,35.235956,22,12,31,21,21:03:39,0,0,0,0,0,부산70자1894,9.212774,6.010222,12.415327,0
5948209,0,0,129.158597,35.235956,22,12,31,21,21:03:40,0,0,0,0,0,부산70자1894,9.212774,6.010222,12.415327,0
5948210,0,0,129.158597,35.235956,22,12,31,21,21:03:41,0,0,0,0,0,부산70자1894,9.212774,6.010222,12.415327,0
5948211,0,0,129.158597,35.235956,22,12,31,21,21:03:42,0,0,0,0,0,부산70자1894,9.212774,6.010222,12.415327,0

In [9]:
df

,차량속도,RPM,GPS_X,GPS_Y,년,월,일,시,시분초,가속도,급가속,급출발,급감속,급정지,차량번호,가속도max,가속도min,가속도max2,위험운전가속
0,0,193,129.158670,35.236021,22,12,1,5,05:07:15,0,0,0,0,0,부산70자1854,9.212774,6.010222,12.415327,0
1,0,388,129.158670,35.236021,22,12,1,5,05:07:16,0,0,0,0,0,부산70자1854,9.212774,6.010222,12.415327,0
2,0,777,129.158670,35.236021,22,12,1,5,05:07:17,0,0,0,0,0,부산70자1854,9.212774,6.010222,12.415327,0
3,0,638,129.158670,35.236021,22,12,1,5,05:07:18,0,0,0,0,0,부산70자1854,9.212774,6.010222,12.415327,0
4,0,461,129.158670,35.236021,22,12,1,5,05:07:19,0,0,0,0,0,부산70자1854,9.212774,6.010222,12.415327,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5948207,0,331,129.158597,35.235956,22,12,31,21,21:03:38,0,0,0,0,0,부산70자1894,9.212774,6.010222,12.415327,0
5948208,0,59,129.158597,35.235956,22,12,31,21,21:03:39,0,0,0,0,0,부산70자1894,9.212774,6.010222,12.415327,0
5948209,0,0,129.158597,35.235956,22,12,31,21,21:03:40,0,0,0,0,0,부산70자1894,9.212774,6.010222,12.415327,0
5948210,0,0,129.158597,35.235956,22,12,31,21,21:03:41,0,0,0,0,0,부산70자1894,9.212774,6.010222,12.415327,0
5948211,0,0,129.158597,35.235956,22,12,31,21,21:03:42,0,0,0,0,0,부산70자1894,9.212774,6.010222,12.415327,0

In [11]:
df['위험운전가속'].max()

3

In [13]:
df.to_csv('../data/0529_분류.csv', index=False)