In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/to_db.csv')

In [3]:
df

,날짜,번호판,일일주행거리,누적주행거리,정보발생일시,차량속도,RPM,브레이크,GPS_X,GPS_Y,...,가속도_Y,급가속,급출발,급감속,급정지,seq,년,월,일,시
0,20221201,부산70자1854,0,66443,22120105071500,0,193,0,129.158670,35.236021,...,0.7,0,0,0,0,-1,22,12,1,5
1,20221201,부산70자1854,0,66443,22120105071600,0,388,0,129.158670,35.236021,...,1.6,0,0,0,0,-1,22,12,1,5
2,20221201,부산70자1854,0,66443,22120105071700,0,777,0,129.158670,35.236021,...,2.2,0,0,0,0,-1,22,12,1,5
3,20221201,부산70자1854,0,66443,22120105071800,0,638,0,129.158670,35.236021,...,0.8,0,0,0,0,-1,22,12,1,5
4,20221201,부산70자1854,0,66443,22120105071900,0,461,0,129.158670,35.236021,...,0.8,0,0,0,0,-1,22,12,1,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5948207,20221231,부산70자1894,176,3095705,22123121033800,0,331,0,129.158597,35.235956,...,-1.2,0,0,0,0,-1,22,12,31,21
5948208,20221231,부산70자1894,176,3095705,22123121033900,0,59,0,129.158597,35.235956,...,-1.4,0,0,0,0,-1,22,12,31,21
5948209,20221231,부산70자1894,176,3095705,22123121034000,0,0,0,129.158597,35.235956,...,-1.0,0,0,0,0,-1,22,12,31,21
5948210,20221231,부산70자1894,176,3095705,22123121034100,0,0,0,129.158597,35.235956,...,-0.9,0,0,0,0,-1,22,12,31,21
5948211,20221231,부산70자1894,176,3095705,22123121034200,0,0,0,129.158597,35.235956,...,-0.9,0,0,0,0,-1,22,12,31,21

In [4]:
_df = df.iloc[3700000:3701001]
_df

,날짜,번호판,일일주행거리,누적주행거리,정보발생일시,차량속도,RPM,브레이크,GPS_X,GPS_Y,...,가속도_Y,급가속,급출발,급감속,급정지,seq,년,월,일,시
3700000,20221219,부산70자1893,13,2022765,22121905210800,45,1476,0,129.148862,35.160889,...,-17.6,0,0,0,0,-1,22,12,19,5
3700001,20221219,부산70자1893,13,2022765,22121905210900,45,1615,0,129.148986,35.160830,...,-17.6,0,0,0,0,-1,22,12,19,5
3700002,20221219,부산70자1893,13,2022765,22121905211000,45,1684,0,129.149113,35.160770,...,-17.6,0,0,0,0,-1,22,12,19,5
3700003,20221219,부산70자1893,13,2022765,22121905211100,45,1639,0,129.149384,35.160640,...,-17.6,0,0,0,0,-1,22,12,19,5
3700004,20221219,부산70자1893,13,2022765,22121905211200,45,1607,0,129.149384,35.160640,...,-17.6,0,0,0,0,-1,22,12,19,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3700996,20221219,부산70자1893,18,2022770,22121905375500,29,733,0,129.182469,35.167495,...,-17.6,0,0,0,0,-1,22,12,19,5
3700997,20221219,부산70자1893,18,2022770,22121905375600,29,626,0,129.182453,35.167454,...,-17.6,0,0,0,0,-1,22,12,19,5
3700998,20221219,부산70자1893,18,2022770,22121905375700,29,587,0,129.182441,35.167419,...,-17.6,0,0,0,0,-1,22,12,19,5
3700999,20221219,부산70자1893,18,2022770,22121905375800,29,570,0,129.182435,35.167395,...,13.2,0,0,0,0,-1,22,12,19,5
3701000,20221219,부산70자1893,18,2022770,22121905375900,29,560,0,129.182434,35.167386,...,13.2,0,0,0,0,-1,22,12,19,5

In [5]:
_df.to_csv('../data/1차배포용.csv', index=False)