In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/slice_data.csv')
df

,날짜,번호판,일일주행거리,누적주행거리,정보발생일시,차량속도,RPM,브레이크,GPS_X,GPS_Y,방위각,가속도_X,가속도_Y
0,20221201,부산70자1854,0,66443,22120105071500,0,193,0,129.158670,35.236021,0,-6.3,0.7
1,20221201,부산70자1854,0,66443,22120105071600,0,388,0,129.158670,35.236021,0,-7.9,1.6
2,20221201,부산70자1854,0,66443,22120105071700,0,777,0,129.158670,35.236021,0,-8.9,2.2
3,20221201,부산70자1854,0,66443,22120105071800,0,638,0,129.158670,35.236021,0,-6.6,0.8
4,20221201,부산70자1854,0,66443,22120105071900,0,461,0,129.158670,35.236021,0,-7.1,0.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5948207,20221231,부산70자1894,176,3095705,22123121033800,0,331,0,129.158597,35.235956,66,-5.7,-1.2
5948208,20221231,부산70자1894,176,3095705,22123121033900,0,59,0,129.158597,35.235956,66,-5.8,-1.4
5948209,20221231,부산70자1894,176,3095705,22123121034000,0,0,0,129.158597,35.235956,66,-5.4,-1.0
5948210,20221231,부산70자1894,176,3095705,22123121034100,0,0,0,129.158597,35.235956,66,-5.4,-0.9
5948211,20221231,부산70자1894,176,3095705,22123121034200,0,0,0,129.158597,35.235956,66,-5.3,-0.9

In [3]:
df['년'] = df['정보발생일시'].apply(lambda x: str(x)[0:2])
df['월'] = df['정보발생일시'].apply(lambda x: str(x)[2:4])
df['일'] = df['정보발생일시'].apply(lambda x: str(x)[4:6])
df['시'] = df['정보발생일시'].apply(lambda x: str(x)[6:8])

In [5]:
df['시분초'] = df['정보발생일시'].apply(lambda x: str(x)[6:8] + ':' + str(x)[8:10] + ':' + str(x)[10:12])

In [7]:
l1 = []

for i in df.index:
    if i == 0:
        l1.append(0)
        continue

    l1.append(df['차량속도'][i] - df['차량속도'][i - 1])

In [8]:
df['가속도'] = l1
df

,날짜,번호판,일일주행거리,누적주행거리,정보발생일시,차량속도,RPM,브레이크,GPS_X,GPS_Y,방위각,가속도_X,가속도_Y,년,월,일,시,시분초,가속도
0,20221201,부산70자1854,0,66443,22120105071500,0,193,0,129.158670,35.236021,0,-6.3,0.7,22,12,01,05,05:07:15,0
1,20221201,부산70자1854,0,66443,22120105071600,0,388,0,129.158670,35.236021,0,-7.9,1.6,22,12,01,05,05:07:16,0
2,20221201,부산70자1854,0,66443,22120105071700,0,777,0,129.158670,35.236021,0,-8.9,2.2,22,12,01,05,05:07:17,0
3,20221201,부산70자1854,0,66443,22120105071800,0,638,0,129.158670,35.236021,0,-6.6,0.8,22,12,01,05,05:07:18,0
4,20221201,부산70자1854,0,66443,22120105071900,0,461,0,129.158670,35.236021,0,-7.1,0.8,22,12,01,05,05:07:19,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5948207,20221231,부산70자1894,176,3095705,22123121033800,0,331,0,129.158597,35.235956,66,-5.7,-1.2,22,12,31,21,21:03:38,0
5948208,20221231,부산70자1894,176,3095705,22123121033900,0,59,0,129.158597,35.235956,66,-5.8,-1.4,22,12,31,21,21:03:39,0
5948209,20221231,부산70자1894,176,3095705,22123121034000,0,0,0,129.158597,35.235956,66,-5.4,-1.0,22,12,31,21,21:03:40,0
5948210,20221231,부산70자1894,176,3095705,22123121034100,0,0,0,129.158597,35.235956,66,-5.4,-0.9,22,12,31,21,21:03:41,0
5948211,20221231,부산70자1894,176,3095705,22123121034200,0,0,0,129.158597,35.235956,66,-5.3,-0.9,22,12,31,21,21:03:42,0

In [11]:
l1 = []
l2 = []
l3 = []
l4 = []

for i in df.index:
    if i == 0:
        l1.append(0)
        l2.append(0)
        l3.append(0)
        l4.append(0)
        continue


    # 급출발
    if 5 >= df['차량속도'][i - 1] and df['차량속도'][i] - df['차량속도'][i - 1] >= 8:
        l2.append(1)
        l1.append(0)
        l3.append(0)
        l4.append(0)

    # 급가속
    elif 6 <= df['차량속도'][i] <= 10 and df['차량속도'][i] - df['차량속도'][i - 1] >= 8:
        l1.append(1)
        l2.append(0)
        l3.append(0)
        l4.append(0)
    elif 10 < df['차량속도'][i] <= 20 and df['차량속도'][i] - df['차량속도'][i - 1] >= 7:
        l1.append(1)
        l2.append(0)
        l3.append(0)
        l4.append(0)
    elif 20 < df['차량속도'][i] and df['차량속도'][i] - df['차량속도'][i - 1] >= 6:
        l1.append(1)
        l2.append(0)
        l3.append(0)
        l4.append(0)

     # 급정지
    elif df['차량속도'][i - 1] - df['차량속도'][i] >= 9 and df['차량속도'][i] <= 5 and df['브레이크'][i] == 1:
        l4.append(1)
        l1.append(0)
        l2.append(0)
        l3.append(0)

    # 급감속
    elif 30 >= df['차량속도'][i] and df['차량속도'][i - 1] - df['차량속도'][i] >= 9 and df['차량속도'][i] >= 6 and df['브레이크'][i] == 1:
        l3.append(1)
        l1.append(0)
        l2.append(0)
        l4.append(0)
    elif 50 >= df['차량속도'][i] and df['차량속도'][i - 1] - df['차량속도'][i] >= 10 and df['차량속도'][i] >= 6 and df['브레이크'][i] == 1:
        l3.append(1)
        l1.append(0)
        l2.append(0)
        l4.append(0)
    elif 50 < df['차량속도'][i] and df['차량속도'][i - 1] - df['차량속도'][i] >= 12 and df['차량속도'][i] >= 6 and df['브레이크'][i] == 1:
        l3.append(1)
        l1.append(0)
        l2.append(0)
        l4.append(0)

    # 정상주행
    else:
        l1.append(0)
        l2.append(0)
        l3.append(0)
        l4.append(0)

In [12]:
df['급가속'] = l1
df['급출발'] = l2
df['급감속'] = l3
df['급정지'] = l4
df

,날짜,번호판,일일주행거리,누적주행거리,정보발생일시,차량속도,RPM,브레이크,GPS_X,GPS_Y,...,년,월,일,시,시분초,가속도,급가속,급출발,급감속,급정지
0,20221201,부산70자1854,0,66443,22120105071500,0,193,0,129.158670,35.236021,...,22,12,01,05,05:07:15,0,0,0,0,0
1,20221201,부산70자1854,0,66443,22120105071600,0,388,0,129.158670,35.236021,...,22,12,01,05,05:07:16,0,0,0,0,0
2,20221201,부산70자1854,0,66443,22120105071700,0,777,0,129.158670,35.236021,...,22,12,01,05,05:07:17,0,0,0,0,0
3,20221201,부산70자1854,0,66443,22120105071800,0,638,0,129.158670,35.236021,...,22,12,01,05,05:07:18,0,0,0,0,0
4,20221201,부산70자1854,0,66443,22120105071900,0,461,0,129.158670,35.236021,...,22,12,01,05,05:07:19,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5948207,20221231,부산70자1894,176,3095705,22123121033800,0,331,0,129.158597,35.235956,...,22,12,31,21,21:03:38,0,0,0,0,0
5948208,20221231,부산70자1894,176,3095705,22123121033900,0,59,0,129.158597,35.235956,...,22,12,31,21,21:03:39,0,0,0,0,0
5948209,20221231,부산70자1894,176,3095705,22123121034000,0,0,0,129.158597,35.235956,...,22,12,31,21,21:03:40,0,0,0,0,0
5948210,20221231,부산70자1894,176,3095705,22123121034100,0,0,0,129.158597,35.235956,...,22,12,31,21,21:03:41,0,0,0,0,0
5948211,20221231,부산70자1894,176,3095705,22123121034200,0,0,0,129.158597,35.235956,...,22,12,31,21,21:03:42,0,0,0,0,0

In [13]:
df.to_csv('../data/0524_to_db.csv', index=False)

In [14]:
df

,날짜,번호판,일일주행거리,누적주행거리,정보발생일시,차량속도,RPM,브레이크,GPS_X,GPS_Y,...,년,월,일,시,시분초,가속도,급가속,급출발,급감속,급정지
0,20221201,부산70자1854,0,66443,22120105071500,0,193,0,129.158670,35.236021,...,22,12,01,05,05:07:15,0,0,0,0,0
1,20221201,부산70자1854,0,66443,22120105071600,0,388,0,129.158670,35.236021,...,22,12,01,05,05:07:16,0,0,0,0,0
2,20221201,부산70자1854,0,66443,22120105071700,0,777,0,129.158670,35.236021,...,22,12,01,05,05:07:17,0,0,0,0,0
3,20221201,부산70자1854,0,66443,22120105071800,0,638,0,129.158670,35.236021,...,22,12,01,05,05:07:18,0,0,0,0,0
4,20221201,부산70자1854,0,66443,22120105071900,0,461,0,129.158670,35.236021,...,22,12,01,05,05:07:19,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5948207,20221231,부산70자1894,176,3095705,22123121033800,0,331,0,129.158597,35.235956,...,22,12,31,21,21:03:38,0,0,0,0,0
5948208,20221231,부산70자1894,176,3095705,22123121033900,0,59,0,129.158597,35.235956,...,22,12,31,21,21:03:39,0,0,0,0,0
5948209,20221231,부산70자1894,176,3095705,22123121034000,0,0,0,129.158597,35.235956,...,22,12,31,21,21:03:40,0,0,0,0,0
5948210,20221231,부산70자1894,176,3095705,22123121034100,0,0,0,129.158597,35.235956,...,22,12,31,21,21:03:41,0,0,0,0,0
5948211,20221231,부산70자1894,176,3095705,22123121034200,0,0,0,129.158597,35.235956,...,22,12,31,21,21:03:42,0,0,0,0,0

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5948212 entries, 0 to 5948211
Data columns (total 23 columns):
 #   Column  Dtype
---  ------  -----
 0   날짜      int64
 1   번호판     object
 2   일일주행거리  int64
 3   누적주행거리  int64
 4   정보발생일시  int64
 5   차량속도    int64
 6   RPM     int64
 7   브레이크    int64
 8   GPS_X   float64
 9   GPS_Y   float64
 10  방위각     int64
 11  가속도_X   float64
 12  가속도_Y   float64
 13  년       object
 14  월       object
 15  일       object
 16  시       object
 17  시분초     object
 18  가속도     int64
 19  급가속     int64
 20  급출발     int64
 21  급감속     int64
 22  급정지     int64
dtypes: float64(4), int64(13), object(6)
memory usage: 1.0+ GB

In [16]:
for i in df.columns:
    df[i] = df[i].apply(lambda x: str(x))
df

,날짜,번호판,일일주행거리,누적주행거리,정보발생일시,차량속도,RPM,브레이크,GPS_X,GPS_Y,...,년,월,일,시,시분초,가속도,급가속,급출발,급감속,급정지
0,20221201,부산70자1854,0,66443,22120105071500,0,193,0,129.15867,35.236021,...,22,12,01,05,05:07:15,0,0,0,0,0
1,20221201,부산70자1854,0,66443,22120105071600,0,388,0,129.15867,35.236021,...,22,12,01,05,05:07:16,0,0,0,0,0
2,20221201,부산70자1854,0,66443,22120105071700,0,777,0,129.15867,35.236021,...,22,12,01,05,05:07:17,0,0,0,0,0
3,20221201,부산70자1854,0,66443,22120105071800,0,638,0,129.15867,35.236021,...,22,12,01,05,05:07:18,0,0,0,0,0
4,20221201,부산70자1854,0,66443,22120105071900,0,461,0,129.15867,35.236021,...,22,12,01,05,05:07:19,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5948207,20221231,부산70자1894,176,3095705,22123121033800,0,331,0,129.158597,35.235956,...,22,12,31,21,21:03:38,0,0,0,0,0
5948208,20221231,부산70자1894,176,3095705,22123121033900,0,59,0,129.158597,35.235956,...,22,12,31,21,21:03:39,0,0,0,0,0
5948209,20221231,부산70자1894,176,3095705,22123121034000,0,0,0,129.158597,35.235956,...,22,12,31,21,21:03:40,0,0,0,0,0
5948210,20221231,부산70자1894,176,3095705,22123121034100,0,0,0,129.158597,35.235956,...,22,12,31,21,21:03:41,0,0,0,0,0
5948211,20221231,부산70자1894,176,3095705,22123121034200,0,0,0,129.158597,35.235956,...,22,12,31,21,21:03:42,0,0,0,0,0

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5948212 entries, 0 to 5948211
Data columns (total 23 columns):
 #   Column  Dtype
---  ------  -----
 0   날짜      object
 1   번호판     object
 2   일일주행거리  object
 3   누적주행거리  object
 4   정보발생일시  object
 5   차량속도    object
 6   RPM     object
 7   브레이크    object
 8   GPS_X   object
 9   GPS_Y   object
 10  방위각     object
 11  가속도_X   object
 12  가속도_Y   object
 13  년       object
 14  월       object
 15  일       object
 16  시       object
 17  시분초     object
 18  가속도     object
 19  급가속     object
 20  급출발     object
 21  급감속     object
 22  급정지     object
dtypes: object(23)
memory usage: 1.0+ GB

In [18]:
df.to_csv('../data/0524_to_db.csv', index=False)

In [19]:
df

,날짜,번호판,일일주행거리,누적주행거리,정보발생일시,차량속도,RPM,브레이크,GPS_X,GPS_Y,...,년,월,일,시,시분초,가속도,급가속,급출발,급감속,급정지
0,20221201,부산70자1854,0,66443,22120105071500,0,193,0,129.15867,35.236021,...,22,12,01,05,05:07:15,0,0,0,0,0
1,20221201,부산70자1854,0,66443,22120105071600,0,388,0,129.15867,35.236021,...,22,12,01,05,05:07:16,0,0,0,0,0
2,20221201,부산70자1854,0,66443,22120105071700,0,777,0,129.15867,35.236021,...,22,12,01,05,05:07:17,0,0,0,0,0
3,20221201,부산70자1854,0,66443,22120105071800,0,638,0,129.15867,35.236021,...,22,12,01,05,05:07:18,0,0,0,0,0
4,20221201,부산70자1854,0,66443,22120105071900,0,461,0,129.15867,35.236021,...,22,12,01,05,05:07:19,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5948207,20221231,부산70자1894,176,3095705,22123121033800,0,331,0,129.158597,35.235956,...,22,12,31,21,21:03:38,0,0,0,0,0
5948208,20221231,부산70자1894,176,3095705,22123121033900,0,59,0,129.158597,35.235956,...,22,12,31,21,21:03:39,0,0,0,0,0
5948209,20221231,부산70자1894,176,3095705,22123121034000,0,0,0,129.158597,35.235956,...,22,12,31,21,21:03:40,0,0,0,0,0
5948210,20221231,부산70자1894,176,3095705,22123121034100,0,0,0,129.158597,35.235956,...,22,12,31,21,21:03:41,0,0,0,0,0
5948211,20221231,부산70자1894,176,3095705,22123121034200,0,0,0,129.158597,35.235956,...,22,12,31,21,21:03:42,0,0,0,0,0

In [20]:
df['차량번호'] = df['번호판']

In [21]:
df = df.drop(['번호판', '날짜', '일일주행거리', '누적주행거리', '정보발생일시', '브레이크', '가속도_X', '가속도_Y', '방위각'], axis=1)
df

,차량속도,RPM,GPS_X,GPS_Y,년,월,일,시,시분초,가속도,급가속,급출발,급감속,급정지,차량번호
0,0,193,129.15867,35.236021,22,12,01,05,05:07:15,0,0,0,0,0,부산70자1854
1,0,388,129.15867,35.236021,22,12,01,05,05:07:16,0,0,0,0,0,부산70자1854
2,0,777,129.15867,35.236021,22,12,01,05,05:07:17,0,0,0,0,0,부산70자1854
3,0,638,129.15867,35.236021,22,12,01,05,05:07:18,0,0,0,0,0,부산70자1854
4,0,461,129.15867,35.236021,22,12,01,05,05:07:19,0,0,0,0,0,부산70자1854
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5948207,0,331,129.158597,35.235956,22,12,31,21,21:03:38,0,0,0,0,0,부산70자1894
5948208,0,59,129.158597,35.235956,22,12,31,21,21:03:39,0,0,0,0,0,부산70자1894
5948209,0,0,129.158597,35.235956,22,12,31,21,21:03:40,0,0,0,0,0,부산70자1894
5948210,0,0,129.158597,35.235956,22,12,31,21,21:03:41,0,0,0,0,0,부산70자1894
5948211,0,0,129.158597,35.235956,22,12,31,21,21:03:42,0,0,0,0,0,부산70자1894

In [22]:
df.to_csv('../data/0524_to_db.csv', index=False)

In [23]:
df

,차량속도,RPM,GPS_X,GPS_Y,년,월,일,시,시분초,가속도,급가속,급출발,급감속,급정지,차량번호
0,0,193,129.15867,35.236021,22,12,01,05,05:07:15,0,0,0,0,0,부산70자1854
1,0,388,129.15867,35.236021,22,12,01,05,05:07:16,0,0,0,0,0,부산70자1854
2,0,777,129.15867,35.236021,22,12,01,05,05:07:17,0,0,0,0,0,부산70자1854
3,0,638,129.15867,35.236021,22,12,01,05,05:07:18,0,0,0,0,0,부산70자1854
4,0,461,129.15867,35.236021,22,12,01,05,05:07:19,0,0,0,0,0,부산70자1854
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5948207,0,331,129.158597,35.235956,22,12,31,21,21:03:38,0,0,0,0,0,부산70자1894
5948208,0,59,129.158597,35.235956,22,12,31,21,21:03:39,0,0,0,0,0,부산70자1894
5948209,0,0,129.158597,35.235956,22,12,31,21,21:03:40,0,0,0,0,0,부산70자1894
5948210,0,0,129.158597,35.235956,22,12,31,21,21:03:41,0,0,0,0,0,부산70자1894
5948211,0,0,129.158597,35.235956,22,12,31,21,21:03:42,0,0,0,0,0,부산70자1894