In [1]:
import pandas as pd
import numpy as np

In [7]:
df = pd.read_csv('../data/0524_to_db.csv')

In [3]:
df = df.query('일 == 1 and 차량번호 == "부산70자1893"')
df

,차량속도,RPM,GPS_X,GPS_Y,년,월,일,시,시분초,가속도,급가속,급출발,급감속,급정지,차량번호
2873328,0,185,0.000000,0.000000,22,12,1,4,04:25:41,0,0,0,0,0,부산70자1893
2873329,0,246,0.000000,0.000000,22,12,1,4,04:25:42,0,0,0,0,0,부산70자1893
2873330,0,827,0.000000,0.000000,22,12,1,4,04:25:43,0,0,0,0,0,부산70자1893
2873331,0,592,0.000000,0.000000,22,12,1,4,04:25:44,0,0,0,0,0,부산70자1893
2873332,0,556,0.000000,0.000000,22,12,1,4,04:25:45,0,0,0,0,0,부산70자1893
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2927826,0,551,129.158506,35.236094,22,12,1,22,22:05:44,0,0,0,0,0,부산70자1893
2927827,0,383,129.158506,35.236094,22,12,1,22,22:05:46,0,0,0,0,0,부산70자1893
2927828,0,34,129.158506,35.236094,22,12,1,22,22:05:47,0,0,0,0,0,부산70자1893
2927829,0,0,129.158506,35.236094,22,12,1,22,22:05:49,0,0,0,0,0,부산70자1893
2927830,0,0,129.158506,35.236094,22,12,1,22,22:05:50,0,0,0,0,0,부산70자1893

In [4]:
df['가속도max'] = df['차량속도'].apply(lambda x: -3.007e-10 * x ** 5 + 1.08775e-7 * x ** 4 + -1.46299e-5 * x ** 3 + 0.001332283 * x ** 2 - 0.126973836 * x + 9.212774118)
df

,차량속도,RPM,GPS_X,GPS_Y,년,월,일,시,시분초,가속도,급가속,급출발,급감속,급정지,차량번호,가속도max
2873328,0,185,0.000000,0.000000,22,12,1,4,04:25:41,0,0,0,0,0,부산70자1893,9.212774
2873329,0,246,0.000000,0.000000,22,12,1,4,04:25:42,0,0,0,0,0,부산70자1893,9.212774
2873330,0,827,0.000000,0.000000,22,12,1,4,04:25:43,0,0,0,0,0,부산70자1893,9.212774
2873331,0,592,0.000000,0.000000,22,12,1,4,04:25:44,0,0,0,0,0,부산70자1893,9.212774
2873332,0,556,0.000000,0.000000,22,12,1,4,04:25:45,0,0,0,0,0,부산70자1893,9.212774
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2927826,0,551,129.158506,35.236094,22,12,1,22,22:05:44,0,0,0,0,0,부산70자1893,9.212774
2927827,0,383,129.158506,35.236094,22,12,1,22,22:05:46,0,0,0,0,0,부산70자1893,9.212774
2927828,0,34,129.158506,35.236094,22,12,1,22,22:05:47,0,0,0,0,0,부산70자1893,9.212774
2927829,0,0,129.158506,35.236094,22,12,1,22,22:05:49,0,0,0,0,0,부산70자1893,9.212774
2927830,0,0,129.158506,35.236094,22,12,1,22,22:05:50,0,0,0,0,0,부산70자1893,9.212774

In [5]:
d = list(df['가속도'])
d.append(0)
df['가속도new'] = d[1:]

In [13]:
df

,차량속도,RPM,GPS_X,GPS_Y,년,월,일,시,시분초,가속도,급가속,급출발,급감속,급정지,차량번호,가속도max,가속도new
2873328,0,185,0.000000,0.000000,22,12,1,4,04:25:41,0,0,0,0,0,부산70자1893,9.212774,0
2873329,0,246,0.000000,0.000000,22,12,1,4,04:25:42,0,0,0,0,0,부산70자1893,9.212774,0
2873330,0,827,0.000000,0.000000,22,12,1,4,04:25:43,0,0,0,0,0,부산70자1893,9.212774,0
2873331,0,592,0.000000,0.000000,22,12,1,4,04:25:44,0,0,0,0,0,부산70자1893,9.212774,0
2873332,0,556,0.000000,0.000000,22,12,1,4,04:25:45,0,0,0,0,0,부산70자1893,9.212774,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2927826,0,551,129.158506,35.236094,22,12,1,22,22:05:44,0,0,0,0,0,부산70자1893,9.212774,0
2927827,0,383,129.158506,35.236094,22,12,1,22,22:05:46,0,0,0,0,0,부산70자1893,9.212774,0
2927828,0,34,129.158506,35.236094,22,12,1,22,22:05:47,0,0,0,0,0,부산70자1893,9.212774,0
2927829,0,0,129.158506,35.236094,22,12,1,22,22:05:49,0,0,0,0,0,부산70자1893,9.212774,0
2927830,0,0,129.158506,35.236094,22,12,1,22,22:05:50,0,0,0,0,0,부산70자1893,9.212774,0

In [18]:
df.query('급출발 == 1')

,차량속도,RPM,GPS_X,GPS_Y,년,월,일,시,시분초,가속도,급가속,급출발,급감속,급정지,차량번호,가속도max,가속도new
2875205,29,969,129.156950,35.234946,22,12,1,4,04:57:14,25,0,1,0,0,부산70자1893,6.364941,0
2875224,10,1206,129.156529,35.234582,22,12,1,4,04:57:33,10,0,1,0,0,부산70자1893,8.062692,5
2875262,12,1226,129.154647,35.233211,22,12,1,4,04:58:12,11,0,1,0,0,부산70자1893,7.857837,3
2875333,12,1693,129.153620,35.232546,22,12,1,4,04:59:23,12,0,1,0,0,부산70자1893,7.857837,7
2875371,16,1515,129.151527,35.231398,22,12,1,5,05:00:01,13,0,1,0,0,부산70자1893,7.469146,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2926892,10,1228,129.124922,35.212961,22,12,1,21,21:50:01,10,0,1,0,0,부산70자1893,8.062692,7
2927360,15,841,129.148011,35.225186,22,12,1,21,21:57:52,15,0,1,0,0,부산70자1893,7.563833,0
2927503,22,1291,129.149258,35.229907,22,12,1,22,22:00:17,22,0,1,0,0,부산70자1893,6.932327,0
2927610,16,547,129.155961,35.233895,22,12,1,22,22:02:04,14,0,1,0,0,부산70자1893,7.469146,0
2927692,10,962,129.158895,35.235853,22,12,1,22,22:03:28,10,0,1,0,0,부산70자1893,8.062692,0

In [19]:
df[['차량속도','가속도', '가속도new', '급정지']].query('급정지 == 1')

         차량속도  가속도  가속도new  급정지
16545       4  -11      -4    1
18796       1   -9      -1    1
18882       4   -9      -4    1
19182       2   -9      -2    1
22960       3   -9      -3    1
...       ...  ...     ...  ...
5925210     4   -9      -4    1
5926895     3   -9      -3    1
5930395     5   -9      -5    1
5931229     4   -9      -4    1
5932756     2   -9      -2    1

[8776 rows x 4 columns]

In [8]:
df.iloc[2875200:2875300]

,차량속도,RPM,GPS_X,GPS_Y,년,월,일,시,시분초,가속도,급가속,급출발,급감속,급정지,차량번호
2875200,4,977,129.157244,35.235205,22,12,1,4,04:57:09,0,0,0,0,0,부산70자1893
2875201,4,985,129.157183,35.235157,22,12,1,4,04:57:10,0,0,0,0,0,부산70자1893
2875202,4,979,129.157122,35.235110,22,12,1,4,04:57:11,0,0,0,0,0,부산70자1893
2875203,4,985,129.157122,35.235110,22,12,1,4,04:57:12,0,0,0,0,0,부산70자1893
2875204,4,977,129.157061,35.235051,22,12,1,4,04:57:13,0,0,0,0,0,부산70자1893
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2875295,0,549,129.153709,35.232575,22,12,1,4,04:58:45,0,0,0,0,0,부산70자1893
2875296,0,550,129.153709,35.232575,22,12,1,4,04:58:46,0,0,0,0,0,부산70자1893
2875297,0,547,129.153709,35.232575,22,12,1,4,04:58:47,0,0,0,0,0,부산70자1893
2875298,0,552,129.153709,35.232575,22,12,1,4,04:58:48,0,0,0,0,0,부산70자1893
2875299,0,551,129.153709,35.232575,22,12,1,4,04:58:49,0,0,0,0,0,부산70자1893

In [9]:
d = list(df['가속도'])
d.append(0)
df['가속도new'] = d[1:]
df['가속도max'] = df['차량속도'].apply(lambda x: -3.007e-10 * x ** 5 + 1.08775e-7 * x ** 4 + -1.46299e-5 * x ** 3 + 0.001332283 * x ** 2 - 0.126973836 * x + 9.212774118)
df

,차량속도,RPM,GPS_X,GPS_Y,년,월,일,시,시분초,가속도,급가속,급출발,급감속,급정지,차량번호,가속도new,가속도max
0,0,193,129.158670,35.236021,22,12,1,5,05:07:15,0,0,0,0,0,부산70자1854,0,9.212774
1,0,388,129.158670,35.236021,22,12,1,5,05:07:16,0,0,0,0,0,부산70자1854,0,9.212774
2,0,777,129.158670,35.236021,22,12,1,5,05:07:17,0,0,0,0,0,부산70자1854,0,9.212774
3,0,638,129.158670,35.236021,22,12,1,5,05:07:18,0,0,0,0,0,부산70자1854,0,9.212774
4,0,461,129.158670,35.236021,22,12,1,5,05:07:19,0,0,0,0,0,부산70자1854,0,9.212774
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5948207,0,331,129.158597,35.235956,22,12,31,21,21:03:38,0,0,0,0,0,부산70자1894,0,9.212774
5948208,0,59,129.158597,35.235956,22,12,31,21,21:03:39,0,0,0,0,0,부산70자1894,0,9.212774
5948209,0,0,129.158597,35.235956,22,12,31,21,21:03:40,0,0,0,0,0,부산70자1894,0,9.212774
5948210,0,0,129.158597,35.235956,22,12,31,21,21:03:41,0,0,0,0,0,부산70자1894,0,9.212774
5948211,0,0,129.158597,35.235956,22,12,31,21,21:03:42,0,0,0,0,0,부산70자1894,0,9.212774

In [18]:
df.iloc[2875300:2875400]

,차량속도,RPM,GPS_X,GPS_Y,년,월,일,시,시분초,가속도,급가속,급출발,급감속,급정지,차량번호,가속도new,가속도max
2875300,0,548,129.153709,35.232575,22,12,1,4,04:58:50,0,0,0,0,0,부산70자1893,0,9.212774
2875301,0,546,129.153709,35.232575,22,12,1,4,04:58:51,0,0,0,0,0,부산70자1893,0,9.212774
2875302,0,547,129.153709,35.232575,22,12,1,4,04:58:52,0,0,0,0,0,부산70자1893,0,9.212774
2875303,0,548,129.153709,35.232575,22,12,1,4,04:58:53,0,0,0,0,0,부산70자1893,0,9.212774
2875304,0,545,129.153709,35.232575,22,12,1,4,04:58:54,0,0,0,0,0,부산70자1893,0,9.212774
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2875395,16,545,129.150680,35.230772,22,12,1,5,05:00:25,0,0,0,0,0,부산70자1893,0,7.469146
2875396,16,553,129.150680,35.230772,22,12,1,5,05:00:26,0,0,0,0,0,부산70자1893,0,7.469146
2875397,16,553,129.150680,35.230772,22,12,1,5,05:00:27,0,0,0,0,0,부산70자1893,0,7.469146
2875398,16,550,129.150680,35.230772,22,12,1,5,05:00:28,0,0,0,0,0,부산70자1893,0,7.469146
2875399,16,552,129.150680,35.230772,22,12,1,5,05:00:29,0,0,0,0,0,부산70자1893,0,7.469146

In [20]:
df.iloc[18700:18900]

,차량속도,RPM,GPS_X,GPS_Y,년,월,일,시,시분초,가속도,급가속,급출발,급감속,급정지,차량번호,가속도new,가속도max
18700,7,563,129.171200,35.161379,22,12,1,13,13:49:30,-5,0,0,0,0,부산70자1854,-5,8.384477
18701,2,553,129.171235,35.161379,22,12,1,13,13:49:31,-5,0,0,0,0,부산70자1854,-2,8.964040
18702,0,549,129.171264,35.161380,22,12,1,13,13:49:32,-2,0,0,0,0,부산70자1854,0,9.212774
18703,0,549,129.171264,35.161380,22,12,1,13,13:49:33,0,0,0,0,0,부산70자1854,0,9.212774
18704,0,548,129.171264,35.161380,22,12,1,13,13:49:34,0,0,0,0,0,부산70자1854,0,9.212774
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18895,14,669,129.175523,35.169033,22,12,1,13,13:52:45,-1,0,0,0,0,부산70자1854,-3,7.660140
18896,11,586,129.175557,35.169056,22,12,1,13,13:52:46,-3,0,0,0,0,부산70자1854,-2,7.959340
18897,9,547,129.175586,35.169075,22,12,1,13,13:52:47,-2,0,0,0,0,부산70자1854,-3,8.167955
18898,6,544,129.175613,35.169089,22,12,1,13,13:52:48,-3,0,0,0,0,부산70자1854,-4,8.495872
18899,2,552,129.175631,35.169107,22,12,1,13,13:52:49,-4,0,0,0,0,부산70자1854,-2,8.964040